<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 扫描带Controller注解的类 -->
	<context:component-scan base-package="com.clive.controller" />
	<!-- 加载注解驱动
		使用最新的版本
	 -->
	<mvc:annotation-driven />
	<!-- 配置css和js的静态资源访问 
		前提 就是 web.xml 里面的拦截规则是/
		http://localhost:8080/js/jquery-2.1.0.min.js 这个就会被
		拦截 因为他符合的规则是 /jquery-2.1.0.min.js结尾 所以这个js会被拦截 所以要配置放行规则
		http://localhost:8080/js/abc/kindEidte/jquery-2.1.0.min.js 
	-->
	<mvc:resources location="/js/" mapping="/js/**" />
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/layui/" mapping="/layui/**" />
	<mvc:resources location="/kindeditor/" mapping="/kindeditor/**" />
	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver ">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<!-- jsp前缀 -->
		<property name="prefix" value="/jsp/" />
		<!-- jsp后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 
		springmvc上传图片 用他 限制文件大小 
	 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
        <property name="maxUploadSize">
            <!-- 上传文件大小限制为31M，31*1024*1024 -->
            <value>32505856</value>
        </property>
      
    </bean>
	
	
</beans>
